<form class="{{classes}}" autocomplete="off">
  <nav class="sheet-tabs tabs">
    <a class='item' data-tab='warning'>Warning</a>
    <a class='item' data-tab='abilities'>Ability Scores</a>
  </nav>

  <section class='tab' data-tab='warning'>
    {{> 'modules/dnd5e-extender/templates/settings-submit.hbs'}}
  </section>

  <section class='tab' data-tab='abilities'>
    {{> 'modules/dnd5e-extender/templates/settings-abilities.hbs' abilities=settings.abilities}}
  </section>
</form>