@import './styles/mixins.scss';
@import './styles/variables.scss';

// ensure our styles take precedence over 5e default
.dnd5e-extender {
  .dnd5e {
    &.sheet {
      &.actor {
        .tab {
          &.attributes {
            overflow: auto;
          }
        }

        .ability-scores {
          flex-direction: column;
          height: unset;

          .ability {
            display: flex;
            flex-direction: column;
            height: unset;
            justify-content: space-between;
          }
        }

        ul.skills-list {
          height: unset;
        }
      }
    }
  }
}

.dnd5e-extender-settings {
  form {
    @include spaced-vertical;
  }

  .textCenter {
    text-align: center;
  }

  .warning-list {
    @include spaced-vertical($space / 2);

    list-style: none;
    padding: 0;
    margin: 0;

    li {
      text-indent: -2em;
      margin-left: 2em;
    }

    input {
      margin: 0 0.5em 0 0;
      vertical-align: sub;
    }
  }
}
